// light mode
:root {
  --primary-color: #17233d;
  --secondary-color: #125e8a;
  --dark-gray: rgba(0, 0, 0, 0.6);
  --white: #fff;
  --font-color: rgba(0, 0, 0, 0.9);
  --body-background-color: var(--white);
  --header-background-color: #17233df0;
  --header-font-color: var(--white);
  --footer-background-color: #f6f6f6;
  --footer-icon-color: var(--primary-color);
}

// dark mode
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #17233d;
    --secondary-color: #1b8dd0;
    --dark-gray: rgba(0, 0, 0, 0.6);
    --white: #fff;
    --font-color: #e3e3e3;
    --body-background-color: #1f1f1f;
    --header-background-color: #17233df0;
    --header-font-color: var(--white);
    --footer-background-color: #181818;
    --footer-icon-color: var(--secondary-color);
  }
}

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  color: var(--font-color);
  background-color: var(--body-background-color);
  line-height: 1.75;
}

h1 {
  margin: 0;
  padding-bottom: 0.83em;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2em;
}

h2 {
  margin: 1em 0;
  font-weight: 400;
}

h3 {
  font-size: 1em;
  font-weight: 400;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3em 2em;
  background: var(--body-background-color);
}

hr {
  border: 0;
  border-bottom: 1px solid var(--font-color);
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
}

p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    flex-basis: 50%;
    margin-bottom: 1em;
  }
}

strong {
  font-weight: 600;
}

small {
  color: var(--dark-gray);
}

a,
a:focus,
a:visited {
  text-decoration: none;
  color: var(--secondary-color);
}
a:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

.text-center {
  text-align: center;
}

.blue_raised_glossy {
  background-color: var(--header-background-color) !important;
  backdrop-filter: blur(6px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  color: var(--white);
}

.svg-inline--fa {
  color: var(--secondary-color); // font awesome icon default color
}

@media (max-width: 1000px) {
  h1 {
    font-size: 1.25em;
  }
  li {
    flex-basis: 100% !important;
  }
  li.order_mobile_last {
    order: 99;
  }
}
