// light mode
:root {
  --primary-color: #17233d;
  --secondary-color: #125e8a;
  --dark-gray: rgba(0, 0, 0, 0.6);
  --white: #fff;
  --font-color: rgba(0, 0, 0, 0.9);
  --body-background-color: #f6f6f6;
  --main-background-color: var(--white);
  --header-background-color: #17233df0;
  --header-font-color: var(--white);
  --button-text-color: var(--white);
  --button-background-color: var(--secondary-color);
  --button-hover-text-color: rgba(255, 255, 255, 0.8);
  --button-hover-glow-color: rgba(18, 94, 138, 0.4);
}

// dark mode
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #17233d;
    --secondary-color: #1b8dd0;
    --dark-gray: rgba(0, 0, 0, 0.6);
    --white: #fff;
    --font-color: #e3e3e3;
    --body-background-color: #181818;
    --main-background-color: #1f1f1f;
    --header-background-color: #17233df0;
    --header-font-color: var(--white);
    --button-text-color: rgba(0, 0, 0, 0.9);
    --button-background-color: var(--secondary-color);
    --button-hover-text-color: rgba(0, 0, 0, 0.7);
    --button-hover-glow-color: rgba(27, 141, 208, 0.4);
  }
}

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  color: var(--font-color);
  background-color: var(--body-background-color);
  line-height: 1.75;
}

h1 {
  margin: 0;
  padding-bottom: 0.83em;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2em;
}

h2 {
  margin: 1em 0;
  font-weight: 400;
}

h3 {
  font-size: 1em;
  font-weight: 400;
}

main {
  margin: 0;
  padding: 3em max(2em, calc((100vw - 1200px) / 2)); // max 1200 width with 2em padding on mobile
  background: var(--main-background-color);
}

hr {
  border: 0;
  border-bottom: 1px solid var(--font-color);
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    flex-basis: 50%;
    margin-bottom: 1em;
  }
}

strong {
  font-weight: 600;
}

a,
a:focus,
a:visited {
  text-decoration: none;
  color: var(--secondary-color);
}
a:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

.text-center {
  text-align: center;
}

.text-lead {
  font-size: 1.15em;
}

.blue_raised_glossy {
  background-color: var(--header-background-color) !important;
  backdrop-filter: blur(6px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  color: var(--white);
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.custom-mui-button {
  text-align: left;
  text-decoration: none;
  transition: all 0.3s;
  color: var(--button-text-color) !important;
  background-color: var(--button-background-color) !important;
  z-index: 0 !important;
}
.custom-mui-button:hover {
  text-decoration: none;
  color: var(--button-hover-text-color) !important;
  background-color: var(--button-background-color) !important;
  box-shadow: 0 0 16px var(--button-hover-glow-color); // glow
}
.custom-mui-button:visited {
  color: var(--button-text-color) !important;
}

.mt-12 {
  margin-top: 12px;
}

.mr-4 {
  margin-right: 4px;
}

.mr-8 {
  margin-right: 8px;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 1.25em;
  }
  li {
    flex-basis: 100% !important;
  }
  li.order_mobile_last {
    order: 99;
  }
  .text-lead {
    font-size: 1em;
  }
  .custom-mui-button {
    padding: 8px 10px !important;
  }
}
