.content_grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3em;

  .flex_row {
    display: flex;
    flex-wrap: wrap;
  }

  .half_width {
    flex-basis: 50%;
  }

  .full_width {
    flex-basis: 100%;
  }

  .img_wrap {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  img {
    border-radius: 50%;
  }
}

@media (max-width: 1000px) {
  .flex_row {
    gap: 2em;
  }
  .half_width {
    flex-basis: 100% !important;
  }
}
