.footer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
  text-align: center;
  z-index: 0;

  .social_links {
    position: relative;
    display: flex;
    justify-content: center;
    line-height: 40px;
    gap: 0.75em;
    margin-bottom: 1em;

    .link {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      text-align: center;
      line-height: 4;
      background: var(--button-background-color);
      transition: all 0.3s;
    }
    .link:hover {
      svg {
        color: var(--button-hover-text-color) !important;
      }
      box-shadow: 0 0 16px var(--button-hover-glow-color); // glow
    }

    svg {
      color: var(--button-text-color);
    }
  }

  p {
    position: relative;
    font-size: 80%;
    z-index: 1;
  }
}
