#wrapper {
  width: 100%;
}

#background {
  position: relative;
  aspect-ratio: 18 / 9;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

#foreground {
  width: 100%;
  height: 100%;
  background-size: auto 80%;
  background-position-x: 49%;
  background-position-y: 100%;
  background-repeat: no-repeat;
}

@media (max-width: 1000px) {
  #background {
    aspect-ratio: 9 / 9;
  }
}
