.main {
  display: flex;
  flex-direction: column;
  gap: 3em;

  li a {
    display: flex;
    align-items: center;
    gap: 4px;

    svg {
      min-width: 18px;
    }
  }
}

.flat {
  margin: 0 -2px;
}
